@tailwind base;
@tailwind components;
@tailwind utilities;


.flex {
  display: flex;
}

.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  height: 100vh; /* Set sidebar height to fill the view */
  overflow-y: hidden; /* Prevent scrolling in the sidebar */
  position: fixed; /* Make the sidebar fixed */
  top: 0; /* Position at the top of the view */
  left: 0; /* Position at the left of the view*/
}

.content {
  flex: 1; /* Flexible content area */
  margin-left: 250px; /* Ensure content doesn't overlap with the sidebar */
  padding: 20px; /* Add padding to the content area */
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Custom CSS to adjust scrollbar positioning */
.overflow-y-auto::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners */
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the scrollbar track */
}

.overflow-y-auto {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: rgba(107, 114, 128, 0.5) transparent; /* Color of the scrollbar thumb and track */
}

/* Adjust the space between the scrollbar and the edge of the container */
.overflow-y-auto {
  margin-right: 16px; /* Adjust as needed */
}
/* styles.css */

.marker-container {
  overflow-y: auto; /* Enable vertical scrollbar */
  height: 170px; /* Set a fixed height */
  margin-left: 8px; /* Adjust left margin */
  padding-right: 20px; /* Add padding to create space for the scrollbar */
}
